---
import {
  getAllPosts,
  countPostsByTopic,
  formatTopic,
} from "@/lib/topicUtils.js";
import BaseLayout from "../../layouts/BaseLayout.astro";
const allPosts = await getAllPosts();
const topics = [...new Set(allPosts.map((post) => post.data.topics).flat())];
---

<BaseLayout
  pageTitle={`List of topics in Wahyu Syamsul A'lam Blog`}
  withHeader
  withFooter
>
  <main class="max-w-screen-md mx-auto flex flex-col mt-10">
    <section
      id="topic-lists"
      class="flex flex-col w-full mt-12 md:mt-0 px-6 lg:px-0"
    >
      <h2 class="font-bold uppercase tracking-wide">Topics</h2>
      <div class="mt-4">
        <!-- <h3 class="font-semibold tracking-wide">General</h3> -->
        <ul class="grid md:grid-cols-2 gap-6">
          {
            topics.map((topic) => (
              <li class="border-b border-dotted border-primary">
                <a
                  class="flex items-center justify-between leading-7 capitalize"
                  href={`/topics/${topic}/`}
                >
                  <span class="">{formatTopic(topic)}</span>
                  <span class="">{countPostsByTopic(topic)}</span>
                </a>
              </li>
            ))
          }
          <!-- random topics to test UI lol -->
          <!-- {
            Array.from({ length: 20 }, (_, i) => (
              <li class="border-b border-dotted border-primary">
                <a class="flex items-center justify-between leading-7 capitalize">
                  <span class="">Topik {i}</span>
                  <span class="">{i}</span>
                </a>
              </li>
            ))
          } -->
        </ul>
      </div>
    </section>
  </main>
</BaseLayout>
