---
import {
  getAllPosts,
  countPostsByTopic,
  formatTopic,
} from "@/lib/topicUtils.js";
import BaseLayout from "../layouts/BaseLayout.astro";
import ArticleCard from "../components/ArticleCard.astro";

const pageTitle = "Blog by Wahyu Syamsul A'lam";
const allPosts = await getAllPosts();
const topics = [...new Set(allPosts.map((post) => post.data.topics).flat())];
import { sortPostsByDate } from "@/lib/postUtils.js";
const sortedPosts = sortPostsByDate(allPosts);
---

<BaseLayout pageTitle={pageTitle} withHeader withFooter>
  <main
    class="max-w-screen-md mx-auto flex flex-col md:flex-row justify-center mt-10"
  >
    <section
      id="article-lists"
      class="flex flex-col w-full md:max-w-[480px] flex-1 px-6 space-y-8 lg:pr-4"
    >
      {
        sortedPosts.length < 2
          ? sortedPosts.map((post) => (
              <ArticleCard
                isFullHeight
                url={`/posts/${post.slug}/`}
                title={post.data.title}
                description={post.data.description}
                pubDate={post.data.pubDate}
              />
            ))
          : sortedPosts.map((post) => (
              <ArticleCard
                url={`/posts/${post.slug}/`}
                title={post.data.title}
                description={post.data.description}
                pubDate={post.data.pubDate}
              />
            ))
      }
    </section>
    <aside
      id="topic-lists"
      class="flex flex-col w-full md:max-w-[288px] mt-12 md:mt-0 px-6 lg:px-0 lg:pl-4 md:border-l flex-1"
    >
      <h2 class="font-bold uppercase tracking-wide">Topics</h2>
      <div class="mt-4">
        <!-- <h3 class="font-semibold tracking-wide">General</h3> -->
        <ul class="flex flex-col mt-1">
          {
            topics.map((topic) => (
              <li class="border-b border-dotted border-primary">
                <a
                  class="flex items-center justify-between leading-9 capitalize"
                  href={`/topics/${topic}/`}
                >
                  <span class="">{formatTopic(topic)}</span>
                  <span class="">{countPostsByTopic(topic)}</span>
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </aside>
  </main>
</BaseLayout>
