---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
const date = new Date(frontmatter.pubDate);
const formattedDate = date.toLocaleString("en-US", {
  month: "long",
  day: "numeric",
  year: "numeric",
});
import {
  formatTopic,
} from "@/lib/topicUtils.js";
import SinglePostStickySideNav from "@/components/SinglePostStickySideNav.astro";
---

<BaseLayout pageTitle={frontmatter.title} withHeader withFooter>
  <main class="max-w-screen-md relative mx-auto flex flex-col mt-10">
    <div
      class="px-6 md:px-0 flex flex-col justify-center items-center text-center"
    >
      <h1
        class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl transition-colors text-balance"
      >
        {frontmatter.title}
      </h1>
      <p class="leading-7 text-sm mt-6">
        Written by: {frontmatter.author} on
        {formattedDate}
      </p>
      <div class="flex leading-7 text-sm items-center space-x-2">
        <span>Topics:</span>
        {
          frontmatter.topics.map((topic) => (
            <p class="capitalize">
              <a class="primary-link" href={`/topics/${topic}`}>
                {formatTopic(topic)}
              </a>
            </p>
          ))
        }
      </div>
    </div>
    <div class="grid grid-cols-12 relative isolate">
      <article
        class="col-span-12 mt-6 w-full px-6 md:px-0 max-w-[65ch] mx-auto"
      >
        <slot />
      </article>
      <!-- <SinglePostStickySideNav /> -->
    </div>
  </main>
</BaseLayout>
